ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
}

ion-row {
    align-items: center;
    text-align: center;
}

ion-list {
    margin: 0;
}

ion-button {
    color: #ffffff;
}